body
{
    width:auto;
    height:auto;
    background-color:rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
}
a,a:hover,a:focus
{
	text-decoration:none;
	
}
.body
{
    width:85%;
    height: auto;
    overflow: auto;
    margin:0px auto;
    box-shadow: 0 0 10px 0 rgba(160, 160, 160, 0.71);
    background-color: #FFF;
}
.header
{
    width: auto;
    margin:0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}
.header #logo
{
    padding:5px 0px 10px 0px;
	width: auto;
	float: left;
	margin: 0;
	overflow: hidden;
}
.header #login
{
    width: auto;
	float: right;
	margin-right: 50px;
	padding: 0;
	margin-top: 50px;
	overflow: hidden;
	text-align: center;
}
.header #logo img
{
    max-width:550px;
    height:auto;
}
.lgnbttn
{
    font: normal bold 15px Georgia, serif;
	padding: 15px 70px;
	background-color: rgb(114, 189, 120);
	color: whitesmoke;
	border-radius: 3px;
}
.lgnbttn a,a:hover,a:focus,a:active
{
	text-decoration:none;
	color:white;
}
.cover
{
font: bold 50px Georgia,serif;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
margin: 4px 0px;
height: auto;
overflow: auto;
background-color: black;
}
.cover #banner
{
width: 99%;
margin: 0px auto;
padding-top: 10px !important;
overflow: auto;
}

.content
{
    width:100%;
    margin: 0;
    padding: 30px 0 50px 0;
    background-color: white;
    overflow: auto;
}
.content-info
{
    width:90%;
    margin: 0 auto;
    padding-top: 20px;
}
.content-info .left-sidebar
{
    width:65%;
    float:left;
    margin-right:5%;
    height:auto;
}
.content-info .info-content
{
    font-size: 16px;
    letter-spacing: 2px;
}
.content-info .left-sidebar .info-content .services
{
    padding-top: 16px;
    border: 1px solid #000000;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 2em;
    margin-right: 35px !important;
    margin-left: 35px !important;
}
.content-info .left-sidebar .info-content .services ul
{
    list-style-type: disc;
    line-height: 26px;
    padding:0 25px;
}
.content-info .left-sidebar .info-content .services ul li,li:before
{
/*    content: '\2713';*/
    display: inline-block!important;
    color: green;
    padding: 0 6px 0 0;
    font-size: 1em;
}
.content-info .left-sidebar .info-content h1
{
    margin: 0px;
    display: inline-block;
}
.content .content-info .info-content h1
{
    margin: 0px;
    display: inline-block
}
.content-info .left-sidebar .info-content h2,h2:hover,h2:active
{
    font: normal bold 30px Georgia, serif;
    margin: 10px 0px;
}
.content-info .right-sidebar
{
    width:30%;
    margin-top: 20px;
    float:right;
    height:auto
}
/*.content-info .right-sidebar a,a:active,a:hover,a:focus
{
    padding: 10px;
    background-color: rgb(114, 189, 120);
    border-radius: 3px;
    font-size:18px;
}*/
.content-info .right-sidebar .plan-heading
{
    text-align: center;
    padding: 12px;
    background-color: rgb(106, 152, 186);
    color: aliceblue;

}
.content-info .right-sidebar .plan-heading h1
{
    font-size: 20px;
    margin:0px;
    padding:0px;
}
.content-info .right-sidebar .plan-details
{
    margin-bottom:10px;
    padding: 0px;
    border-left: 1px solid rgb(224, 224, 224);
}
.content-info .right-sidebar .plan-purchase-btn
{
    text-align: right;
    margin:0px;
    padding: 0px;
}
.content-info .right-sidebar .plan-details .right-content
{
    width: auto;
    background-color: white;
    padding-bottom: 1px;
    box-shadow: 10px 10px 5px #888888;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2015, 6:12:50 AM
    Author     : Administrator
*/
.main-footer
{
    
}
.main-footer .bottom-banner
{
    background: #f6f6f6;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    min-height: 120px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: center !important;
}
.link-footer
{
    background: #f6f6f6;
	margin-top: 5px;
}
.link-footer .link-cont
{
    background: #f6f6f6;
    min-height: 120px;
    width: 80%;
    overflow: auto;
    margin: 0px auto;
}
.link-footer .link-cont .link-other
{
    overflow: auto;
    width: 25%;
    float: left;
    padding: 40px;
    margin: 0;
}
.link-footer .link-cont .site-link
{
    overflow: auto;
    width: 25%;
    float: left;
    padding: 40px;
    margin: 0;
}
.link-footer .link-cont .other
{
   overflow: auto;
    width: 25%;
    float: left;
    padding: 40px;
    margin: 0; 
}
.link-footer li
{
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
}
.link-footer h3
{
	padding-left: 20px;
	margin:0px;
}
